# Supabase Project Credentials (Used for user presence tracking & invite lookups)
VITE_SUPABASE_URL=https://hmmfmgelowozwzapxwlm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtbWZtZ2Vsb3dvend6YXB4d2xtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNDAyODcsImV4cCI6MjA5MDgxNjI4N30.mP41IkhZDwxL1OWBcHMF2exklpK_ChlmZIft8Sr4Ono

# URL of the Backend Control Plane API
VITE_API_URL=http://localhost:3001
